<p>Login</p>

<%= form_for @user, url: login_path do |f| %>

  <%= f.label :email, "Email" %><br />
  <%= f.text_field :email %><br />

  <%= f.label :password, "Password" %><br />
  <%= f.password_field :password %><br />
  <%= f.submit "Log In" %>

<%end%>

<p><a href='/auth/facebook'>Login with Facebook</a></p>
