<div class="login-wrapper">

  <div class="login">

    <h1>Log In</h1>
    <%= form_for @user, url: login_path do |f| %>


    <p>
      <%= f.text_field :email, placeholder: "Email" %>
    </p>


    <p>
      <%= f.password_field :password, placeholder: "Password" %>
    </p>
    <p>
      <%= f.submit "Log In" %>
    </p>

    <%end%>

    <br />

    <a href='/auth/facebook'><i class="fab fa-facebook-square fa-2x"></i><br />Login with Facebook</a>


    <br />

    <%if flash[:message] %>
    <%= flash[:message] %>
    <%end%>

  </div>

</div>
