<div class="login-wrapper">

<div class="login">

  <h1>Log In</h1>
  <%= form_for @user, url: login_path do |f| %>


    <%= f.text_field :email, placeholder: "Email" %><br />


    <%= f.password_field :password, placeholder: "Password" %><br />
    <%= f.submit "Log In" %>

  <%end%>

  <br />
  <%if flash[:message] %>
    <%= flash[:message] %>
  <%end%>

  <a href='/auth/facebook'><i class="fab fa-facebook-square fa-2x"></i><br />Login with Facebook</a>

</div>

</div>
