<div class="main">
  <div class="shop-item-show">
    <div class="shop-item-show-image">
      <%= image_tag @item.picture %>
    </div>
    <div class="shop-item-show-text">
      <h3 data-id="<%= @item.id %>" class="shop-item-show-title"><%= @item.name %></h3>
      <br />

        <%if @item.reviews.present? %>
        <div id="rating" class="rating">
          <% @item.average_rating.times do %>
          <i class="fas fa-star"></i>
          <%end%><br /><br />
          </div>
        <%end%>


      <p id="price"><%= number_to_currency(@item.price) %></p>
      <p id="description"><%= @item.description %></p>

      <div class="shop-item-show-buttons">
      <%= link_to "Add to Cart", {controller: "items", action: "create", id: @item}, method: "post", class: "add-to-cart"%></a>
      <%if @item.reviews.present? %>
        <a href="#" id="show-reviews">Show Reviews</a>
      <%end%>
        <a href="#" id="next-item">Next Item</a>
      </div>

    </div>

  </div>

</div>

<div id="reviews-js" class="review-wrapper"></div>

<% if logged_in? %>
<div class="review-wrapper">

  <div class="review">
    <h1>Review This Product</h1><br />
    <%= form_for @review, url: {controller: 'reviews', action: 'create'} do |f| %>

      <%= f.label :stars %><br /><br />

      <%= f.label :stars, "1", class: "stars" %>
      <%= f.radio_button :stars, 1 %>

      <%= f.label :stars, "2", class: "stars" %>
      <%= f.radio_button :stars, 2 %>

      <%= f.label :stars, "3", class: "stars" %>
      <%= f.radio_button :stars, 3 %>

      <%= f.label :stars, "4", class: "stars" %>
      <%= f.radio_button :stars, 4 %>

      <%= f.label :stars, "5", class: "stars" %>
      <%= f.radio_button :stars, 5 %><br /><br />


      <%= f.text_area :review %><br />

      
      <%= hidden_field_tag 'id', '', :id => "review_id" %>

      <%= f.submit "Submit Review" %>
    <%end%>

  </div>
</div>
<%end%>



