<div class="main">
  <div class="shop-item">
    <div class="shop-item-image">
    <%= image_tag @item.picture %>
    <p><%= @item.name %></p>
    <p><%= @item.price %></p>
    <p><%= @item.description %></p>
    <p><%= link_to "Add to Cart", {controller: "items", action: "create", id: @item}, method: "post"%></a></p>
    </div>
  </div>
</div>
