<!DOCTYPE html>
<html>
  <head>
    <title>Boutique</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="free-shipping">
      <p>Free Shipping On All Orders $150 and Above!</p>
    </div>
    <header>
      <h1>luxe boutique</h1>
      <nav>
        <a href="/">home</a>
        <% if !current_user %>
        <a href="/login">log in</a>
        <a href="/signup">sign up</a>
        <%end%>
        <a href="/shop">shop</a>
        <%if current_user%>
        <a href="/logout">log out</a>
        <%end%>
        <a href="/cart">cart (<%=current_cart.count%> items)</a>
      </nav>
    </header>
    <hr />



      <%= yield %>



      <footer>
        <a href="">About Us</a>
        <a href="">Contact Us</a>
        <a href="">Affiliate Program</a>
        <a href="">Blog</a>
        <a href="">FAQ</a>
        <a href="">Terms & Conditions</a>
      </footer>
  </body>

</html>
