<!DOCTYPE html>
<html>
  <head>
    <title>Boutique</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1>Welcome to Boutique</h1>

    <a href="/">Home</a>
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
    <a href="/shop">Shop</a>
    <%if session[:user_id]%>
    <a href="/logout">Log Out</a>
    <%end%>
    <a href="/cart">Cart (<%=current_cart.count%> items)</a>


      <%= yield %>



  </body>

</html>
